body {
    background-color: #0d1117;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    color: #f0f6fc;
}

header {
    margin: 0 10px;
}

h2 {
    font-size: 26px;
    color: #C9D1D9;
}

h3 {
    color: #C9D1D9;
    margin: 5px 0;
}

p {
    margin: 8px 0;
}

footer {
    margin: 0 10px;
    text-align: center;
}

.link {
    color: #C9D1D9;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    color: #58A6FF;
}

.main-content {
    max-width: 1200px;
    padding: 5px 10px;
    margin: auto;
}

.avatar {
    width: 152px;
    height: 216px;
    border-radius: 6px;
}

.main-intro {
    font-size: 24px;
    margin: 0 3px 15px;
}

.intro {
    margin: 10px 3px;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 6px;
}

.additional-info {
    color: #8b949e;
    font-size: 14px;
}

.bottom-border {
    border-bottom: 1px solid #30363d;
}

.upper-border {
    border-top: 1px solid #30363d;
}

.clickable {
    cursor: pointer;
}

.section-element {
    padding: 10px 0;
    margin: 15px 0;
}

.section-element:hover {
    transition: transform .2s;
    transform: scale(1.025);
}

.technology {
    display: inline-block;
    border: 1.5px solid #30363d;
    border-radius: 6px;
    padding: 2px 6px;
    margin: 3px 0;
    color: #949da6;
}

.technology:hover {
    transition: transform .2s;
    transform: scale(1.025);
    border: 1.5px solid #C9D1D9;
    color: #C9D1D9;
}

.star {
    margin-top: 2.5px;
    margin-right: 4px;
    height: 13px;
    width: 13px;
}

.exp-main-section {
    display: flex;
}

.exp-logo-section {

}

.exp-title-section {
    padding-top: 2px;
    padding-left: 10px;
    flex-grow: 1;
}

.footer-links-section {
    max-width: 1200px;
    margin: auto;
    padding: 6px 0;
    text-align: center;
}

.footer-link {
    padding: 2px 100px;
}

.footer-icon {
    margin-right: 4px;
    height: 12px;
    width: 12px;
}

.footer-main-link {
    padding-top: 8px;
}